* {
    box-sizing: border-box;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

.add-category-button {
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid rgb(75, 75, 75);
    color: rgb(75, 75, 75);
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin: 10px auto;
    padding: 10px;
    transition: all .4s;
    width: 95%;
}

.add-category-button:hover {
    cursor: pointer;
    background-color: rgb(75, 75, 75);
    color: #fff;
}

.category-container {
    margin: 35px;
}

.category-container__separator {
    margin-top: 10px;
    margin-bottom: 10px;
}

.todo-container {
    align-items: center;
    border-radius: 5px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 15px;
    transition: background .3s;
}

.todo-container__todo {
    font-size: 15px;
}

.todo-container__complete {
    align-items: center;
    border: 2px solid #000;
    color: #000;
    display: flex;
    height: 26px;
    justify-content: center;
    transition: opacity .3s;
    width: 26px;
    margin-left: 5px;
}

.todo-container__complete:hover {
    cursor: pointer;
    opacity: 0.5;
}

.todo-container__complete i {
    text-decoration: none;
}

.category-action {
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
}

/* COMPLETED TODO CLASS */

.todo-completed {
    background-color: rgb(139, 139, 139) !important;
    color: #fff;
}

.text-completed {
    text-decoration: line-through;
}

/* -------------------- */

.red-span {
    color:rgb(237, 78, 78);
}

.blue-span {
    color: rgb(78, 81, 237);
}

.green-span {
    color: rgb(78, 237, 110);
}

.purple-span {
    color: rgb(205, 78, 237)
}

.red-background {
    background-color:rgb(237, 78, 78);
}

.blue-background {
    background-color: rgb(78, 81, 237);
}

.green-background {
    background-color: rgb(78, 237, 110);
}

.purple-background {
    background-color: rgb(205, 78, 237)
}